TOKEN=asdf.123.etc
--Your bot token--

PREFIX=!
--Your bot prefix, you can this!--

BOT_ACTIVITY_TYPE=LISTENING
--Fill with => LISTENING or PLAYING or STREAMING or WATCHING, etc. . . <= (You can check about this in dbd.js docs!)--

BOT_ACTIVITY_TEXT=invite me! | Awsome Economy Bot!
--Your bot bio, You can change this!--

DAILY_SALARY=100
--Amount of daily salary (commands? in economy/daily.js), You can change this!--

MONTHLY_SALARY=4000
--Amount of daily salary (commands? in economy/monthly.js), You can change this!--